[submodule "tracezilla-integrations-docs"]
	path = tracezilla-integrations-docs
	url = https://github.com/Happy-Bananas/tracezilla-integrations-docs.git
[submodule "tracezilla-integration-php"]
	path = tracezilla-integration-php
	url = https://github.com/Happy-Bananas/tracezilla-shopify-php.git
[submodule "tracezilla-shopify-typescript"]
	path = tracezilla-shopify-typescript
	url = https://github.com/Happy-Bananas/tracezilla-shopify-typescript.git
[submodule "tracezilla-shopify-python"]
	path = tracezilla-shopify-python
	url = https://github.com/Happy-Bananas/tracezilla-shopify-python.git
[submodule "tracezilla-shopify-ruby"]
	path = tracezilla-shopify-ruby
	url = https://github.com/Happy-Bananas/tracezilla-shopify-ruby.git
[submodule "tracezilla-shopify-dotnet"]
	path = tracezilla-shopify-dotnet
	url = https://github.com/Happy-Bananas/tracezilla-shopify-dotnet.git
[submodule "tracezilla-shopify-java"]
	path = tracezilla-shopify-java
	url = https://github.com/Happy-Bananas/tracezilla-shopify-java.git
[submodule "tracezilla-woocommerce-php"]
	path = tracezilla-woocommerce-php
	url = https://github.com/Happy-Bananas/tracezilla-woocommerce-php.git
